*{
    margin:0;
    padding:0;
}
body{
    background-color: #333030;
}
#curriculo{
max-width: 1000px;
margin: auto;   
background-color: #efecec;   
}
h1{
    margin: auto;
    padding-top: 30px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 36px;
    max-width: 602px;
    height: 60px;
    border-style: solid;
    border-top:none ;
    border-left:none ;
    border-right:none ;
}
header{
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

h2{
    font-family: 'Rubik', sans-serif;
    font-size: 64px;
    width: 270px;
    height: 270px;
    text-align: center;
}

#fotoperfil{
    width: 300px;
    border-style: solid;
    border-width: 10px;
    border-radius: 100%;
}

article{
    background-color: white;
    width: 100%;
}
#article-divimages{
    width: 100%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    
}
.article-divimages-img{
    width: 191px;
    position: relative;
    top: -16px;
}
#secao-hardsoftskills{
    margin-top: 50px ;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.article-hardsoftskills{
    width: 360px;
    height: 400px;
    padding: 10px;
    background-color:#efecec ;
    border-radius: 5px;
}
.titulohardsoftskills{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.paragrafos{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

#sobremim{
    width: 100%;
    margin-bottom: 20px;
}
h3{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sobremim-paragrafo{
    max-width:524px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin: auto;
    text-align: center;
    line-height: 1.4em;
}

#saibamais{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
#paragrafo-saibamais{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
}
#imagemlinkedin{
    width: 105px;
}
#imagemgithub{
    width: 115px;
}

footer{
    background-color: black;
    
}
h4{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    text-align: center;
    color:white; 
    padding-top: 15px;
}
#contatos{
    margin-top: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;

}
#email{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#zap{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#insta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#email-img{
    width: 60px;
}
#zap-img{
    width: 50px;
}
#insta-img{
    width: 50px;
}
.paragrafos-contato{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@media (max-width: 550px){
    h1{
         font-size: 26px;           
    }
    .article-divimages-img{
                    width: 150px;
                    position: relative;
                    top: -16px;
    }
    #paragrafo-saibamais{
                    font-family: 'Rubik', sans-serif;
                    font-size: 18px;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-bottom: 15px;
    }
}